<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="A tool that demonstrates highcharts.">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <title>HUD Unleashed</title>

  <link rel="stylesheet" href="/public/dist/bootstrap/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="barCharts">

		</div>
	</div>
  <script src="/public/dist/bootstrap/bootstrap.min.js"/>
</body>
</html>
